A proposito di certificates - Alcuni informazioni di riepilogo e riferimenti.docx
enhanced_certificate_manager_fixed - backup 21_06_25 prima di aggiornamento importante.py
fixed_gui_manager_v14_Backup170625.py
fixed_gui_v15_1_corrected_backup210625.py
GeneraTabellaRiepilogativaCertificates.py
Log Versione corrente fixed_gui.txt
Manuale-API.txt
PerSistemare.py
Tipologie_Certificates_RiepilogoElaborato.xlsx
certificates_v15_1_corrected.backup
certificates_v15_1_corrected.backup210625
*.png